torch
torchvision
torchaudio
transformers>=4.19.0
openai
keyboard
pyaudio
requests
Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
Unidecode
pyopenjtalk
ffmpeg
jamo
cn2an
gradio
pypinyin
jieba
numba
tqdm
more-itertools
ffmpeg-python==0.2.0
